@tailwind base;
@tailwind components;
@tailwind utilities;

.instagram-link:hover {
  content: url("./assets/instagram_hover.svg");
}

.facebook-link:hover {
  content: url("./assets/facebook_hover.svg");
}

.arrow-up:hover {
  content: url("./assets/arrow-up_hover.svg");
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.range-slider {
  width: 400px;
  position: relative;
  margin: 15px 0 30px 0;
}

.range-fill {
  height: 2px;
  background-color: #000000;
  position: absolute;
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}

@layer components {
  .mainNavLinks {
    @apply flex items-center border-l border-Black px-8 h-12;
  }

  .footerCols {
    @apply text-xxs desktop:text-[18px] tablet:leading-5 desktop:text-sm font-bold uppercase;
  }

  .footerBoxes {
    @apply flex flex-col items-center gap-4 tablet:gap-6 tablet:items-start w-full uppercase;
  }

  .footerListStiles {
    @apply flex flex-col items-center tablet:items-start text-xxxs tablet:text-xxs font-light gap-2 tablet:gap-4;
  }

  .footerlinkStyles {
    @apply hover:font-bold active:font-bold duration-200;
  }

  .hoverHeroBooks {
    @apply flex hover:shadow-booksShadow active:shadow-booksShadow hover:scale-105 active:scale-105 transition-transform duration-300;
  }
}

.small-caps {
  font-variant: small-caps;
}

.navbar-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-container::-webkit-scrollbar {
  display: none;
}

.navbar-container li {
  flex: 0 0 auto;
}

.backgroundImage-login {
  background-image: url(./assets/img/auth/log_mob.png);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1440px) {
    background-image: url(./assets/img/auth/log_desk.png);
  }
}

.backgroundImage-registr {
  background-image: url(./assets/img/auth/reg_bg_mob.png);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1440px) {
    background-image: url(./assets/img/auth/reg_bg_desk.png);
  }
}